<%- include("partials/header") -%>
    <div id="search-home">
        <form action="/search" method="GET" role="search">
            <input class="center" id="home-search-bar" type="search" name="q" placeholder="Search..." required="true">
            <button class="center home-icon" id="home-submit" type="submit"><i style="color: #ffffff;" class="fa fa-search"></i></button>
        </form>
        <a class="center home-icon" id="home-upload" type="button" href="/upload"><i style="color: #ffffff;" class="fas fa-upload"></i></a>
    </div>
<%- include("partials/footer") -%>