<%- include("partials/header") -%>
<link rel="stylesheet" href="/styles/upload.css">

<a id="go-home" type="button" href="/"><i class="fas fa-home"></i></a>
<div class="container">
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="row">
            <input type="file" name="filename" id="file" class="inputfile" required="true"/>
            <label id="file-label" for="file"><i style="color: #ffffff;" class="fas fa-upload"></i> Choose a file</label>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="title">Title</label>
            </div>
            <div class="col-75">
                <input type="text" id="title" name="filename" placeholder="Title" autocomplete="off" required="true">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="keyword">Keywords</label>
            </div>
            <div class="col-75">
                <input type="text" id="keyword" name="keyword" placeholder="Keywords (Separated by spaces)" autocomplete="off" required="true">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="subject">Description</label>
            </div>
            <div class="col-75">
                <textarea id="subject" name="description" placeholder="Write something.." style="height:200px"></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <input type="submit" value="Upload">
        </div>
    </form>
</div>
<script src="/js/upload.js"></script>
<%- include("partials/footer") -%>
    
